<div class="jumbotron hidden-xs vertical-center white-text">
	<div class="col-md-6">
		<h1 class="list-group">MP App: node</h1>  
		<p class="hidden-xs hidden-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		{{!-- desktop + tablet buttons --}}
		<div class="list-group">
			<div class="btn-group" role="group">
				<a class="white-text" href="/demographics">
					<button type="button" class="btn btn-lg btn-dark-red">Explore the data</button>
				</a>
				
			</div>	
		</div>
	</div>	
	<div class="col-md-6 hidden-xs pt-large">
		<div class="thumbnail">
		  <img src="./images/home-gif.gif" alt="...">
		</div>
	</div>			
</div>