<div class="jumbotron hidden-xs mb-vertical-center mb-white-text">
	<div class="col-md-6">
		<h1 class="list-group mb-roboto-strong">MB App: 
			<span class="mb-quotes mb-hide">node</span>
			<span class="mb-quotes mb-hide">d3</span>
			<span class="mb-quotes mb-hide">react</span>
			<span class="mb-quotes mb-hide">mongo</span>
			<span class="mb-quotes mb-hide">express</span>
		</h1>  
		<p class="hidden-xs hidden-sm roboto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		{{!-- desktop + tablet buttons --}}
		<div class="list-group">
			<div class="btn-group" role="group">
				<a class="mb-white-text" href="/demographics">
					<button type="button" class="btn btn-lg mb-btn-dark-red mb-roboto">Explore the data</button>
				</a>
			</div>	
		</div>
	</div>	
	<div class="col-md-6 hidden-xs pt-large">
		<div class="thumbnail">
		  <img src="./images/home-gif.gif" alt="...">
		</div>
	</div>			
</div>