<div class="container-fluid col-xs-12 visible-xs mb-white-text mt-xlarge">
	<h1 class="list-group text-center">MB App: node</h1>
	<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	{{!-- mobile buttons --}}
	<div class="list-group visible-xs">
		<a class="mb-white-text" href="/demographics">
			<button type="button" class="btn btn-lg btn-block mb-btn-dark-red">Explore the data</button>
		</a>		
	</div>
	<div class="thumbnail col-xs-12">
		<img src="./images/mob_screenshot.PNG">			
	</div>
</div>	