<div class="container-fluid col-xs-12 visible-xs white-text absolute-center">
	<h1 class="list-group text-center">MB App: node</h1>
	<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	{{!-- mobile buttons --}}
	<div class="list-group visible-xs">
		<a class="white-text" href="/demographics">
			<button type="button" class="btn btn-lg btn-block btn-dark-red">Explore the data</button>
		</a>		
	</div>
	<img src="./images/mob_screenshot.PNG" class="col-xs-12">		
</div>	