.row {
	.mb-btn-primary:hover {
	    background-color: #C11844;
	}
	.mb-btn-primary {
	    color: #FFF;
	    background-color: #DA4A70;
	    font-weight: 700;
	}
	.thumbnail img {
		height: 170px;
	}
}