.controls-container {
	// border-top: 2px solid #E6E6E6;
    border-bottom: 1px solid #333;
    // Background transition
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
    .glyphicon {
		margin-top: 10px;
	    margin-bottom: 10px;
    }
	.mb-controls-border-bottom {
		border-bottom: 1px solid #333;
	}
	.mb-control-value {
		margin-top: 10px;
	    margin-bottom: 10px;
		font-weight: 500;
	    line-height: 1.1;
	    font-size: 18px;
	    color: #333;
	    &:hover {
	    	text-decoration: underline;
	    }
	}
	.mb-collapse {	
    	border-top: 1px solid #333;
	}
}
.controls-container.open { 
	background-color: #E4E4E4;
}