// Pyramid CSS
.pyramid-svg {
  .males-outline {
    fill: none;
    stroke: rgb(33, 79, 118);
    stroke-width: 1.5px;
  }
  .females-outline {
    fill: none;
    stroke: rgb(255, 80, 77);
    stroke-width: 1.5px;
  }
  .line {
    fill: none;
    stroke: rgb(229, 0, 0);
    stroke-width: 1.5px;
  }
  .axis path,
  .axis line {
      fill: none;
      stroke: black;
      shape-rendering: crispEdges;
  }
  .x.axis path {
    display: none;
  }
  .axis {
    font-size: 12px;
  }
  .overlay-rect:hover {
    fill: rgba(0,0,0,0.15);
  }  
}

// Pyramid Bars CSS
.mb-grey-box {
  background-color: #F3F3F3;
  border-radius: 5px;
  border: 1px solid #E6E6E6;
}

.pyramid-bars-svg {
  .bar.female {
    fill: rgb(255, 152, 150);
  }
  .bar.male {
    fill: rgb(31, 119, 180);
  }
  .tick line, path.domain {
    display: none;
  }

  // Icons
  .mb-icon-man {
    fill: #1F77B4;
    path {
      stroke: none;
    }
  }
}

// Pyramid spinner
.pyramid .mb-spinner, #pyramid-bars .mb-spinner {
  margin: 0 auto;
  margin-top: 150px;
  display: block;
}

// // Outline
// .males-outline {
//   fill: none;
//   stroke: rgb(33, 79, 118);
//   stroke-width: 1.5px;
// }
// .females-outline {
//   fill: none;
//   stroke: rgb(255, 80, 77);
//   stroke-width: 1.5px;
// }