 .percent-text {
	font-size: 36px;
	font-weight: bold;
}
.active-value-text, .ethnicity-text, .total-value-text {
	font-size: 26px;
}
.sunburst .mb-spinner {
    margin: 150px auto 0;
    display: block;
}