 .percent-text {
 	font-size: 32px;
	font-weight: bold;
	@include bp(md) {
		font-size: 36px;
	}
}
.active-value-text, .ethnicity-text, .total-value-text {
	font-size: 18px;
	@include bp(md) {
		font-size: 26px;
	}
}
.sunburst .mb-spinner {
    margin: 150px auto 0;
    display: block;
}