.gen-health-svg {
	.axis {
	  text {
	  	font-size: 11px;
	  }
  		path, line {
		  fill: none;
		  stroke: #333;
		  shape-rendering: crispEdges;
		}
	}

	.x.axis path {
	  fill: none;
	  stroke: none;
	}

	.x.axis line {
	  stroke: #333;
	  stroke-opacity: .8;
	}
	.line {
	  fill: none;
	  stroke: steelblue;
	  stroke-width: 1.75px;
	}

	// .tick line {
	// 	stroke: #E9E9E9;
	// 	stroke-opacity: .8;
	// }
	// .tick:nth-child(1) line {
	//     stroke: #333;
	//     stroke-opacity: .8;
	// }
}
#general-health-details {
	label {
		font-size: 12px;
	}
	.ethnic-checkboxes-column:nth-child(3) {
		margin-top: 30px;
	    border-left: 1px solid #E6E6E6;
	    border-right: 1px solid #E6E6E6;
	}
	.ethnic_title {
		margin: 0;
	}
	.mb-spinner {
		display: block;
  		margin: 120px auto;
	}
	div.checkbox {
		width: 110%;
	}
	.checkbox-zone:hover {
		background-color: #DA4A70;
	    font-weight: 700;
	    color: white;
	}
	.checkbox-zone {
	    background-color: #eee;
	    border: 1px solid #E6E6E6;
	    padding: 2px 40px 2px 25px;
	    border-radius: 5px;
	}
	.highlight {
		background-color: #DA4A70;
	    font-weight: 700;
	    color: white;
	}
}