.mb-mobile-rotate {
	position: absolute;
	background-color: rgba(128, 128, 128, 0.92);
	@include bp(xs) {
		display: none;
	}
	@include bp(sm) {
		display: none;
	}
	@include bp(md) {
		display: none;
	}
	@include bp(lg) {
		display: none;
	}
	p {
		font-size: 20px;
	}
}