nav.mb-nav-border {
	border-bottom: 1px solid #265787;
	.navbar-toggle {
	    height: 33px;
	}
}
.mb-alt-bg {
	background-image: url(/images/voronoi-bg-wide-nav.PNG);
}
// font-awesome icons
.navbar-right .fa {
	color: #DA4A70;
	&:hover {
		color: #C11844;
	}
}