.mb-page-header {
	margin-bottom: $margin-medium;
	// margin-top: $margin-large;
	background-color: #519DD2;
	color: #fff;
	h1 {
		@extend .mb-roboto-strong;
		margin-top: $margin-large;
		margin-bottom: $margin-large;
		font-size: 46px;
	}
}