//d3 vononoi splash css
path {
  stroke: #245584;
  stroke-width: 1px;
}

path:first-child {
  fill: #1B548A !important;
}

.q0-9 { fill: #295F92; }
.q1-9 { fill: #285C8E; }
.q2-9 { fill: #296298; }

.cell-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  z-index: 0;
}