//Colour classes
.mb-btn-dark-red {
    background-color: $dark-red;
    border-color: $dark-red;
}
.mb-btn-dark-red:hover {
	color: $white-text-colour;
    background-color: $hover-dark-red;
    border-color: $hover-dark-red;
}
.mb-white-text {
	color: #FFF !important;
}
.mb-ui-body {
	background-color: $ui-body-bg;
}
.bg-white {
	background-color: #fff;
}