.mb-form {
	background-color: $form-bg;
 //    background-image: -webkit-linear-gradient(top,#FCFCFA,#F1F1F1);
	// background-image: -moz-linear-gradient(top,#FCFCFA,#F1F1F1);
 //    border: 1px solid #E0E0E0;
 	border: 1px solid #E6E6E6;
    border-radius: 6px;
    padding-bottom: $form-padding;
    padding-top: $form-padding;
    .mb-form-row {
    	padding-left: 7.5%;
    }
    .mb-input-sm {
    	@extend select.input-sm !optional;
    	@extend .input-sm !optional;
    	padding: 0 !important;
    }
    option.mb-default-select-value {
    	color: #AAA;
    }
	.mb-form-group.category-group {
		padding-left: 0;
		padding-right: 15px;
	}
	select.form-control {
		// height: 36px;
	}
	label {
		padding-left: 0;
		padding-top: 4px;
		padding-right: 0;
		text-align: end;
		float: left;
	}
	button.btn-primary {
		background-color: #4285C3;
		color: #FFF;
		// height: 36px;
	}
	button.btn-primary:focus, button.btn-primary:active, button.btn-primary:active:focus {
		color: #FFF;
    	background-color: #3373AF;
	}
	button.btn-primary:hover {
		color: #FFF;
		background-color: #3070AB;
	}
	.Select-control {
		height: 30px !important;
		display: block !important;
		.Select-arrow-zone {
			.Select-arrow {
				border-color: #000 transparent transparent !important;
				border-width: 6px 3px 2.5px !important;
			}
			float: right !important;
		}
		.Select-clear-zone {
			display: none;
		}
		.Select-placeholder {
			top: -3px !important;
			color: #555;
		}
		input {
			height: 30px !important;
		}
	}
}