.mb-navbar {
	-webkit-box-shadow: 0 0px 8px rgba(0,0,0,0.25);
	-moz-box-shadow:    0 0px 8px rgba(0,0,0,0.25);
	box-shadow:         0 0px 8px rgba(0,0,0,0.25);

	// navbar burger icon
	.navbar-icon {
		z-index: 101;
		position: fixed;
		top: 0;
		right: 15px;
	    width: 30px;
	    height: 37.5px;
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	    -webkit-transition: .2s ease-in-out;
	    transition: .2s ease-in-out;
	    cursor: pointer;
	    margin-top: 18.5px;
	    span {
	        display: block;
	        position: absolute;
	        height: 3px;
	        width: 100%;
	        background: #333;
	        border-radius: 3px;
	        opacity: 1;
	        right: 0;
	        -webkit-transform: rotate(0deg);
	        transform: rotate(0deg);
	        -webkit-transition: .2s ease-in-out;
	        transition: .2s ease-in-out;
	    }
	    span:nth-child(1) {
	        top: 0px;
	        -webkit-transform-origin: left center;
	        transform-origin: left center;
	    }
	    span:nth-child(2) {
	        top: 9px;
	        -webkit-transform-origin: left center;
	        transform-origin: left center;
	    }
	    span:nth-child(3) {
	        top: 18px;
	        -webkit-transform-origin: left center;
	        transform-origin: left center;
	    }
	    &.icon-open span:nth-child(1) {
	        -webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
	        top: -1px;
	    }
	    &.icon-open span:nth-child(2) {
	        width: 0%;
	        opacity: 0;
	    }
	    &.icon-open span:nth-child(3) {
	        -webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	        top: 20px;
	    }
	}
	.off-canvas {
		position: fixed;
		top: 0;
		height: 100vh;
		width: 20%;
		right: -20%;
	    -webkit-transition: all 0.25s;
	    transition: all 0.25s;
	    z-index: 100;
		-webkit-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.25);
		box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.25);
		ul {
			padding: 50px 5px 0 5px;
			list-style: none;
			text-align: center;
			li {

			}
		}
	    &.open {
	    	right: 0;
	    }
		.v-flex-container {
			display: flex;
			flex-direction: column;
			.v-flex-item {
				flex-grow: 1;
				flex-shrink: 1;
				flex-basis: auto;
			}
		}
	}
}