.mb-nav-brand-font {
	@extend .mb-roboto-strong;
	font-size: $nav-brand-font-size;
}
.mb-section-header {
	font-weight: bold;
	margin-bottom: $margin-medium;
	margin-top: $margin-large;
}
.mb-responsive-text-size {
	font-size: 11px;
	@include bp(md) {
		font-size: 14px;
	}
}
.mb-section-text {
	p {
		font-size: $section-text;		
	}
}
.mb-chart-text {
	@extend .mb-oxygen;
	font-size: $chart-text;
}
.mb-bold {
	font-weight: bold;
}
.mb-mini {
	font-size: 70%;
	color: grey;
}