<!-- Begin MailChimp Signup Form -->
<div id="mb_mc_signupform" class="clearfix mb-signup-bg" style="visibility: hidden;">
	<div id="mc_embed_signup" class="mb-hidden-mp container">
		<div className="container col-sm-6 col-sm-offset-3">
			<form action="//measuringbritain.us13.list-manage.com/subscribe/post?u=a61fbfb347c2874094a4668e8&amp;id=782224cfee" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			    <div id="mc_embed_signup_scroll">
				<label for="mce-EMAIL" class="mb-oxygen">Get notified when new charts are added!</label>
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
			    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a61fbfb347c2874094a4668e8_782224cfee" tabindex="-1" value=""></div>
			    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			    </div>
			</form>
		</div>
	</div>
</div>
<!--End mc_embed_signup-->