<nav class="navbar navbar-default navbar-fixed-top hidden-xs">
  <div class="container">
    {{!-- Brand and toggle get grouped for better mobile display --}}
    <div class="navbar-header">
      <a class="navbar-brand mb-nav-brand-font" href="/">MP App: node d3</a>
    </div>                   
      <div class="container-fluid navbar-right">
        {{!-- Desktop, mobile nav links --}}        
{{!--         <ul class="nav nav-pills pt-small mb-oxygen navbar-right">
          <li class="active"><a href="#">Demographics</a></li>
          <li><a href="/health">Health</a></li>
          <li><a href="/labour-market">Labour Market</a></li>
          <li><a href="/deprivation">Deprivation</a></li>
          <li><a href="/ethnicity">Ethnicity</a></li>
          <li><a href="/religion">Religion</a></li>
          <li class="about hidden-md hidden-sm"><a href="/about">About</a></li>
        </ul>      --}}   
        <ul class="nav navbar-nav mb-oxygen mb-responsive-text-size">
          <li class="active"><a href="#">Demographics<span class="sr-only">(current)</span></a></li>
          <li><a href="#">Health</a></li>
          <li><a href="#">Labour Market</a></li>
          <li class="about"><a href="/about">About</a></li>
          <li class="about"><a href="/about">Contact Us</a></li>
        </ul>
    </div>
  </div>
</nav>