// importing bootstrap sass
@import '../../bootstrap-sass/stylesheets/_bootstrap.scss';

// page variables

$bg-body: #ffffff;
$text-colour: #2D2D2D;

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: $bg-body;
  color: $text-colour;
}

a {
  color: #00B7FF;
}